<!DOCTYPE hmtl>
<html lang="pt-br">
<head>
    {% include 'C:\Users\isacs\OneDrive\Área de Trabalho\ISAIAS\Projetos\agenda_Django25\base_templates\global\partials\_head.html' %}
</head>
<body>
    {% include 'C:\Users\isacs\OneDrive\Área de Trabalho\ISAIAS\Projetos\agenda_Django25\base_templates\global\partials\_header.html' %}

    <main class="content">
        {% block content %}{%  endblock content %}
        {% include 'C:\Users\isacs\OneDrive\Área de Trabalho\ISAIAS\Projetos\agenda_Django25\base_templates\global\partials\_pagination.html' %}
    </main>

    
</body>
</html>